@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
html,
body {
    height: auto;
    min-height: 100%;
    padding: 0;
    margin: 0;
}


.calculators> .BMI_calculator{

    position: absolute;
width: 318px;
height: 396px;
left: 133px;
top: 533px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 22px;
} 
.calculators> .titel1{
position: absolute;
width: 345px;
height: 46px;
left: 120px;
top: 770px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 42px;
text-align: center;

color: #0071BC;;


}
.calculators> .titel2{
    position: absolute;
width: 345px;
height: 46px;
left: 553px;
top: 770px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 42px;
text-align: center;
color: #0071BC;


}
.calculators> .titel3{
    position: absolute;
width: 345px;
height: 46px;
left: 988px;
top: 770px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 42px;
text-align: center;
color: #0071BC;


}



.flex-container {
    display: flex;
    justify-content: center;
    
  }
  
  .flex-container > .box1{

    position: absolute;
    width: 318px;
    height: 396px;
    left: 133px;
    top: 350px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;

    
  }
  .flex-container > .box2{

    position: absolute;
width: 318px;
height: 396px;
left: 561px;
top: 350px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px;
  }

  .flex-container > .box3{


    position: absolute;
width: 318px;
height: 396px;
left: 998px;
top: 350px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px;
  }

  
  .flex-container > .box1 >img{

    position: absolute;
width: 299px;
height: 283px;
left: 10px;
top: 20px;
  }
  .flex-container > .box2 >img{

    position: absolute;
    width: 299px;
height: 283px;
left: 10px;
top: 20px;
  }
  .flex-container > .box3 >img{

    position: absolute;
    width: 299px;
height: 283px;
left: 10px;
top: 20px;
  }
.flex-container > .box1 >input{
    position: absolute;
width: 152px;
height: 46px;
left: 80px;
top: 330px;


font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 33px;
text-align: center;

color: #FFFFFF;

background: #0071BC;
border-radius: 29px;
border: none;
cursor: pointer;


}

.flex-container > .box2 >input{
    position: absolute;
width: 152px;
height: 46px;
left: 80px;
top: 330px;


font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 33px;
text-align: center;

color: #FFFFFF;

background: #0071BC;
border-radius: 29px;
border: none;

cursor: pointer;
}
.flex-container > .box3 >input{
    position: absolute;
width: 152px;
height: 46px;
left: 80px;
top: 330px;


font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 33px;
text-align: center;

color: #FFFFFF;

background: #0071BC;
border-radius: 29px;
border: none;
cursor: pointer;

}
.calculators{

    position: absolute;
    left: -50px;
    top: -150px;
   
}
.description{
  position: absolute;
  width: 1174px;
  height: 210px;
  left: 80px;
  top: 900px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 37px;
text-align: center;

color: #001C2E;

}
.title{

  position: absolute;
width: 1042px;
height: 46px;
left: 150px;
top: 120px;

font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 55px;
color: #01253D;

}


