@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
html,
body {
    height: auto;
    min-height: 100%;
    padding: 0;
    margin: 0;
}
.container {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
    padding-top: 30px;
}
.container > .content-container {
    width: 100%;
    height: 100%;
    padding: 0 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.container > .content-container > .left {
    width: 55%;
    flex-shrink: 0;
    flex-grow: 0;
    height: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 40px;
}
.container > .content-container > .left h1 {
    
    font-family: Gadugi;
font-weight: bold;
font-size: 53px;
text-align: left;
color: #111;

}
.container > .content-container > .left p {
    

    width: 402px;
height: 280px;
font-family: "Segoe UI";
font-weight: bold;
font-size: 32px;
letter-spacing: 0.02em;
line-height: 58px;
text-align: left;
color: #313033;

}
.button {
    width: auto;
    height: auto;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    margin: 4px 10px;
    border: 1px solid transparent;
    cursor: pointer;
}
.button.primary {
    border: 1px solid #0071bc;
    background-color: #0071bc;
    color: white;
}

.button.secondary {
    color: #0071bc;
    background-color: white;
    border: 1px solid #0071bc;
}
.container > .content-container > .left .actions {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.container > .content-container > .left .actions > .button:first-child {
    margin-left: 0;
}
.container > .content-container > .right {
    width: 45%;
    flex-shrink: 0;
    flex-grow: 0;
    height: 100%;
}

.container > .content-container > .right > img {
    
    
width: 740px;
height: 687px;
position: absolute;
bottom:84ch;
left: 72ch;
background: transparent;
background-size: cover;


}

.container > .down>.content1{

font-family: "Arial Rounded MT";
font-weight: bold;
font-size: 50px;
text-align: center;
color: #111;

background-image: url(../images/Mask\ Group\ 2.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;

}



