@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
html,
body {
    height: auto;
    min-height: 100%;
    padding: 0;
    margin: 0;
}
.title{

    position: absolute;
  width: 1042px;
  height: 46px;
  left: 150px;
  top: 130px;
  
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 55px;
  color: #01253D;
  
  }
  .description{
    position: absolute;
    width: 1174px;
    height: 210px;
    left: 80px;
    top: 700px;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  
  
  color: #001C2E;
  
  }
  .img >img{

    position: absolute;
    width: 713px;
height: 442px;
left: 350px;
top: 220px;
  }
  .titel1{

    position: absolute;
  width: 1042px;
  height: 46px;
  left: 80px;
  top: 920px;
  
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 55px;
  color: #01253D;
  
  }
  .description1{
    position: absolute;
    width: 1174px;
    height: 210px;
    left: 80px;
    top: 1000px;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  
  
  color: #001C2E;
  
  }
  .titel2{

    position: absolute;
  width: 1042px;
  height: 46px;
  left: 80px;
  top: 1400px;
  
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 55px;
  color: #01253D;
  
  }
  .description2{
    position: absolute;
    width: 1174px;
    height: 210px;
    left: 80px;
    top: 1500px;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  
  
  color: #001C2E;
  
  }
  .titel3{

    position: absolute;
  width: 1042px;
  height: 46px;
  left: 80px;
  top: 1850px;
  
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 55px;
  color: #01253D;
  
  }
  .description3{
    position: absolute;
    width: 1174px;
    height: 210px;
    left: 80px;
    top: 1950px;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  
  
  color: #001C2E;
  
  }