@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

html,
body {
    height: auto;
    min-height: 100%;
    padding: 0;
    margin: 0;
}
.container {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
    padding-top: 90px;
}
.container > .header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    z-index: 1;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.12);
}
.container > .header-container > .logo-container {
    width: auto;
    height: auto;
    text-decoration: none;
}

.container > .header-container > .logo-container > .logo {
    
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #0071bc;
    
    
    
}
.container > .header-container > .logo-container > .logo>a{
    text-decoration: none;
    color: #0071bc
}
.container > .header-container > .navigation-container {
    width: auto;
    height: 100%;
}

.container > .header-container > .navigation-container > ul.navigation {
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container > .header-container > .navigation-container > ul.navigation > li {
    height: 100%;
    margin: 0 5px;
    background-color: transparent;
}
.container > .header-container > .navigation-container > ul.navigation > li > a {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: white;
}
.container > .header-container > .navigation-container > ul.navigation > li > a:hover {
    background-color: #0071bc;
    color: white;
}